<h5 class="card-title fw-semibold mb-4">
    Data Route
</h5>

<form id="formRoute">
    <div class="col-lg-6 mb-3">
        <label for="inputName" class="form-label">Nama Route</label>
        <input type="text" class="form-control" id="inputName" aria-describedby="emailHelp" value="<%= route.name %>">
    </div>
    <div class="col-lg-6 mb-3">
        <label for="inputPrice" class="form-label">Harga</label>
        <input type="number" class="form-control" id="inputPrice" value="<%= route.price %>">
    </div>
    <div class="col-lg-6 mb-3">
        <label for="selectIsopen" class="form-label">Status</label>
        <select class="form-select" id="selectIsopen" aria-label="Default select example">
            <option value="true">Buka</option>
            <option value="false">Tutup</option>
        </select>
    </div>
    <div class="col-lg-6 d-grid mb-3">
        <button type="submit" class="btn block btn-primary">Ubah</button>
    </div>
</form>

<script>
    document.getElementById('selectIsopen').value = '<%= route.is_open %>';

    document.getElementById('formRoute').addEventListener('submit', async function (e) {
        e.preventDefault();

        const name = document.getElementById('inputName').value;
        const price = document.getElementById('inputPrice').value;
        const is_open = document.getElementById('selectIsopen').value;

        const response = await fetch('/api/routes/<%= route.id %>/', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': getCookie('admin_id')
            },
            body: JSON.stringify({
                name: name,
                price: price,
                is_open: is_open
            })
        });

        if (response.ok) {
            window.location.reload();
        } else {
            alert('Gagal mengubah data rute\nerrors: ' + response.errors);
        }
    });
</script>