<div class="card">
  <h3 class="card-header fw-semibold mb-4">
    Data Trip
  </h3>
  <div class="card-body">
    <div class="table-responsive">
      <table id="tripsTable" class="display">
        <thead>
          <tr>
            <th>ID</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Checked In</th>
            <th>Checked Out</th>
            <th>Status</th>
            <th>Route ID</th>
            <th>User ID</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% scripts = `
<script>
    $(document).ready(function() {
        $('#tripsTable').DataTable({
            ajax: {
                url: '/api/trips',
                type: 'GET',
                headers: {
                'Authorization': getCookie('admin_id')
                },
            },
            columns: [
                {
                    data: 'id'
                },
                {
                    data: 'start_date',
                    render: function(data) {
                        return new Date(data).toLocaleString();
                    }
                },
                {
                    data: 'end_date',
                    render: function(data) {
                        return new Date(data).toLocaleString();
                    }
                },
                {
                    data: 'checked_in_at',
                    render: function(data) {
                        return data ? new Date(data).toLocaleString() : 'N/A';
                    }
                },
                {
                    data: 'checked_out_at',
                    render: function(data) {
                        return data ? new Date(data).toLocaleString() : 'N/A';
                    }
                },
                {
                    data: 'status',
                    render: function(data) {
                        if (data === 'dibatalkan') {
                            return '<span class="badge bg-danger">Dibatalkan</span>';
                        } else if (data === 'selesai') {
                            return '<span class="badge bg-success">Selesai</span>';
                        } else if (data === 'aktif') {
                            return '<span class="badge bg-primary">Aktif</span>';
                        } else if (data === 'lunas') {
                            return '<span class="badge bg-info">Lunas</span>';
                        } else if (data === 'menunggu') {
                            return '<span class="badge bg-warning">Menunggu</span>';
                        } else {
                            return '<span class="badge bg-secondary">Tidak diketahui</span>';
                        }
                    }
                },
                {
                    data: 'route_id'
                },
                {
                    data: 'user_id'
                },
                {
                    data: 'id',
                    render: function(data) {
                        return '<div class="btn-group btn-group-sm" role="group" aria-label="Basic example">' +
                            '<button type="button" class="btn btn-sm btn-outline-danger btn-cancel" data-id="' + data + '">Batal</button>' +
                            '<button type="button" class="btn btn-sm btn-outline-primary btn-check-in" data-id="' + data + '">In</button>' +
                            '<button type="button" class="btn btn-sm btn-outline-success btn-check-out" data-id="' + data + '">Out</button>' +
                            '</div>';
                    }
                }
            ],
        });
    });

</script>
` %>

<script>
  document.addEventListener('click', async (e) => {
    if (e.target.classList.contains('btn-cancel')) {
      const tripId = e.target.dataset.id;
      const response = await fetch(`/api/trips/${tripId}/cancel`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Authorization': getCookie('admin_id')
        }
      });
      if (response.ok) {
        window.location.reload();
      } else {
        alert('Gagal membatalkan trip!\nerror: ' + response.errors);
      }
    }
  })

  document.addEventListener('click', async (e) => {
    if (e.target.classList.contains('btn-check-in')) {
      const tripId = e.target.dataset.id;
      const response = await fetch(`/api/trips/${tripId}/check-in`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Authorization': getCookie('admin_id')
        }
      });
      if (response.ok) {
        window.location.reload();
      } else {
        alert('Gagal check in!\nerror: ' + response);
      }
    }
  });

  document.addEventListener('click', async (e) => {
    if (e.target.classList.contains('btn-check-out')) {
      const tripId = e.target.dataset.id;
      const response = await fetch(`/api/trips/${tripId}/check-out`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Authorization': getCookie('admin_id')
        }
      });
      if (response.ok) {
        window.location.reload();
      } else {
        alert('Gagal check out!\nerror: ' + response);
      }
    }
  });
</script>