<div class="row justify-content-center w-100">
  <div class="col-md-8 col-lg-6 col-xxl-3">

    <%- include('../partials/flash-messages') %>

    <div class="card mb-0">
      <div class="card-body">
        <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
          <span class="brand">Alang-alang Sewu</span>
        </a>
        <p class="text-center">Masukan Email dan Password</p>
        <form action="/admin/login" method="post">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
          </div>
          <div class="mb-4">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
          </div>

          <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">
            Login
          </button>

        </form>
      </div>
    </div>
  </div>
</div>